
            <!-- barra de navegacion : tipo Renderizado Parcial-->
                <%= render "/mapas/nav" %>
<div id="map" style="height: 70px;"></div>   

<!-- h1 class="container-fluid text-center" > Elija cuanto tiempo quiere alquilar </h1-->
<div class="container-fluid">
    <h2 id="valorR"></h2>
    <label for="customRange3" class="form-label">Eliga la cantidad de tiempo que desea alquilar este vehiculo:</label>
    <input id="barra" type="range" class="form-range" value="8" min="1" max="96" oninput="slider()">
    <output> Desliza y actualiza cantidad de </output> HS

    <div class="row  m-2">
        <div class="col card text-bg-dark mb-1 text-center"> 
            <div class="card-body">
                <h1 id="muestraPrecio" style="margin-bottom: 0"> $ARS= 1250</h1>
            </div>
        </div>
    </div>
    <a class="btn btn-danger btn-lg" href="/"> Volver</a>
    <button type="button" class="btn btn-primary" onclick="contratar()">CONTRATAR</button>
</div>
<script>
    let params = new URLSearchParams(document.location.search);
    let auto = params.get("auto"); 
    valorR.innerText="El vehiculo a alquilar es el N°" + auto;
    function slider() {
        barra.nextElementSibling.value = (barra.value/4);
        muestraPrecio.innerText="$ARS= "+ ((barra.value/4)*1250);
    }
    function contratar(){  // Params (Nro auto, horas, usuario, valor)
        let monto= <%= @usuarios.first().monto_actual %>;
        let check=chequea(Number(auto), monto , (barra.value/4) ); // Num de error
        switch (check){
        case 0:
            console.log("El auto no esta ocupado y hay saldo "+location.host);
            let url = new URL(window.location.origin + "/alquilers");
            url.searchParams.set("auto",auto_in);
            url.searchParams.set("mins",(barra.value/4)*60);
            location.href = url
            return true;
            break;
        case 1:
            window.alert("El Auto esta en uso");
            return false;
            break;
        case 2:
            window.alert("Saldo Insuficiente");        
            return false;
            break;
        case 3:
            window.alert("No se puede utilizar el mismo auto en menos de 3hs");        
            return false;
            break;
        default: 
            window.alert("chequea dio negativo o mas de 2 ni idea pa");
            return false;
        }   
    }
    function chequea(numAuto,monto,horas){ // Devuelve 0 si todo ok
        if (numAuto==1){ return 1 } //Esta en uso
        if (numAuto==2 && ((monto) < (horas*1250))){ return 2 } // Plata insuficiente
        if (numAuto==3){ return 3 } // Ya lo uso hace -3h
        if (numAuto==4){ return 0 } // Este se puede usar
    }
</script>
