<h1>VENTANA ALQUILER</h1>

<h2 id="valorR"></h2>
<label for="customRange3" class="form-label">Eliga la cantidad de tiempo que desea alquilar este vehiculo:</label>
<input id="barra" type="range" class="form-range" value="8" min="1" max="96" oninput="slider()">
<output> Desliza y actualiza cantidad de </output> HS

<div class="row p-2">
    <div class="col card text-bg-dark mb-1 text-center"> 
        <div class="card-body mb-3">
            <h1 id="muestraPrecio" style="margin-bottom: 0"> $ARS= 0</h1>
        </div>
    </div>
</div>
<a class="btn btn-danger btn-lg" href="/"> Volver</a>
<button type="button" class="btn btn-primary" onclick="contratar()">CONTRATAR</button>

<script>
    let params = new URLSearchParams(document.location.search);
    let auto = params.get("auto"); 
    valorR.innerText="El vehiculo a alquilar es el N°" + auto;
    function slider() {
        barra.nextElementSibling.value = (barra.value/4);
        muestraPrecio.innerText="$ARS= "+ ((barra.value/4)*50);
    }
    function contratar(){  // Params (Nro auto, horas, usuario, valor)
        let monto= <%= @usuarios.first().monto_actual %>;
        let check=chequea(Number(auto), monto , (barra.value/4) ); // Num de error
        switch (check){
        case 0:
            console.log("El auto no esta ocupado y hay saldo");
            return true;
            break;
        case 1:
            console.log("El auto esta en uso");
            return false;
            break;
        case 2:
            console.log("No hay saldo");        
            return false;
            break;
        case 3:
            console.log("Uso de auto reincidente");        
            return false;
            break;
        default: 
            console.log("chequea dio negativo o mas de 2 ni idea pa soy de boca");
            return false;
        }   
    }
    function chequea(numAuto,monto,horas){ // Devuelve 0 si todo ok
        console.log(numAuto, auto);
        if (<% @autos.find_by(nroA:%> auto <%).en_uso %>) { //@autos.find_by(nroA: numAuto).en_uso
            return 1;
         }
        if ((monto) < (horas*50)){ // @precio.find("normal")
            return 2;
        }
        if (false){
            return 3; // Aca iria que uso el auto hace -3hs
        }
        return 0;
    }
</script>