@import "bootstrap";
@import "rails_bootstrap_forms";

.centrarReloj{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

.marker{
    background-image: url(auto-icon.png);
    width: 64px;
    height: 64px;
    background-size: '100%';

}